---
title: My Rad Blog
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
  </head>
  <body>
  <header>
    <nav>
      <ul>
        <li> <a href="{{}}"> About </a></li>
      </ul>
    </nav>
  </header>
    {{ content | safe }}
  </body>
</html>